@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0F0F13;
    scroll-behavior: smooth;
  }
}

.auth-page {
  background-image: url('./assets/images/bg-earth.png');
  background-size: cover;
  background-position: center;
}

.active {
  color: #33C95D;
}

[contentEditable=true]:empty:before {
  content: attr(data-placeholder);
  color: #A9A9A9;
}